<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="SmokeTest">
    <classes>
      <class name="demoqa.project.TestCases.TestCase_001_LoginAdd"/>
      <class name="demoqa.project.TestCases.TestCase_002_LoginRemove"/>
    </classes>
  </test> <!-- SmokeTest -->
</suite> <!-- Suite -->
